*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 50%;
    border: solid 2px white;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width: 50%;
    display: flex;
    /* background-color: black; */
    /* Justify content for Horizontal */
    /* justify-content: center;  */
    /* Align items for Vertical */
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 20px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}

.rightNav{
    /* background-color: blueviolet; */
    width: 50%;
    text-align: right;
    padding: 20px;
}

#search {
    padding: 5px;
    font-size: 17px;
    /* border: 2px solid grey; */
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../images/cityline.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 50%;
    margin: auto;
    height: 70%;

}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf{
    width: 30%;

}

.secondHalf img{
    width: 150%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;

}

.big-text{
    font-size: 40px;
    padding-bottom: 10px;

}

.text-small{
    font-size: 18px;
    padding-bottom: 10px;

}

.btn{
    padding: 8px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 65px;
}

.thumbnail img{
    width: 250px;
    border-radius: 26px;
    border: 2px solid black;
}

.contact{
    background-color: rgba(0, 0, 0, 0.7);
    height: 90vh;
    color: white;
    padding: 30px;
    font-size: 20px;
}

.text-center{
    text-align: center;
    padding: 30px;
}

.form{
    max-width: 344px;
    margin: auto;
}

.form-input{
    width: 100%;
    padding: 7px;
    border: 2px solid grey;
    border-radius: 6px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.button{
    display: flex;
}
.btn-button{
    margin: 30px 30px 0 0;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 1024px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 450px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .secondHalf img{
        width: 75%;
        border: 4px solid white;
        border-radius: 150px;
        margin-bottom: 50px;

    }
    .rightNav{
        text-align: center;
    }

    .burger{
        display: block;
    }
    .h-nav{
        height: 65px;
    }
    .v-class{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .footer{
        padding: 10px;
    }
    .paras{
        padding: 20px;
    }
    .logo img{
        width: 26%;
    }
    #search{
        width: 100%;
    }

}